@import '_reset.scss';
@import '_var.scss';

img {
	display: block;
}

html,
body {
	width: 100%;
	height: 100%;
	* {
		font-family: 'Open Sans', sans-serif, 'Arial', 'Microsoft JhengHei';
		font-size: 14px;
		color: #000;
	}
}

.content {
  width: $container;
  margin: 0px auto;
}